<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bogueratcreations.eaftoolkit" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >

            <!--
        <intent-filter>
        <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Julian"
            android:label="@string/title_activity_julian"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bogueratcreations.eaftoolkit.Main" />
        </activity>
        <activity
            android:name=".Slope"
            android:label="@string/title_activity_slope"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bogueratcreations.eaftoolkit.Main" />
        </activity>
        <activity
            android:name=".MatCalc"
            android:label="@string/title_activity_mat_calc"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bogueratcreations.eaftoolkit.Main" />
        </activity>
        <activity
            android:name=".FLOLS"
            android:label="@string/title_activity_flols"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bogueratcreations.eaftoolkit.Main" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bogueratcreations.eaftoolkit.Main" />
        </activity>
        <activity
            android:name=".Pics"
            android:label="@string/title_activity_pics"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bogueratcreations.eaftoolkit.Main" />
        </activity>
    </application>

</manifest>
